Django
djangorestframework
djangorestframework-simplejwt
django-cors-headers
django-allauth
django-environ
gunicorn
psycopg2-binary
python-dotenv
google-genai
joblib
numpy
scikit-learn
pandas
requests
dj-database-url
whitenoise
